<div class="col-md-12">
    <div class="row">
        <div class=""><h5 class="">Menu Opciones</h5>
            <div class="font-icon-wrapper font-icon-lg"><i class="pe-7s-display2 icon-gradient bg-warm-flame"> </i> <p>Residuos</p> </div>
            <div class="font-icon-wrapper font-icon-lg"><i class="pe-7s-user icon-gradient bg-night-fade"> </i> <p>Perfil</p> </div>
            <div class="font-icon-wrapper font-icon-lg"><i class="pe-7s-users icon-gradient bg-sunny-morning"> </i> <p>Usuarios</p> </div>
            <div class="font-icon-wrapper font-icon-lg"><i class="pe-7s-news-paper icon-gradient bg-amy-crisp"> </i> <p>Fichas</p> </div>
            <div class="font-icon-wrapper font-icon-lg"><i class="pe-7s-notebook icon-gradient bg-tempting-azure"> </i> <p>Programas</p> </div>
            <div class="font-icon-wrapper font-icon-lg"><i class="pe-7s-folder icon-gradient bg-malibu-beach"> </i> <p>Áreas</p> </div>
            

        </div>
    </div>
</div>