{% block menu_icons %}

<div class="page-title-actions">
                                    
    <div class="d-inline-block dropdown">
        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow dropdown-toggle btn btn-outline-info">
            <span class="btn-icon-wrapper pr-2 opacity-7">
                <i class="fa fa-business-time fa-w-20"></i>
            </span>
            Más Opciones
        </button>
        <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a href="{% url 'my_sample_list' %}" class="nav-link">
                        <i class="nav-link-icon pe-7s-display2"></i>
                        <span>
                            Mis Residuos
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'profile_edit' %}" class="nav-link">
                        <i class="nav-link-icon lnr-book"></i>
                        <span>
                            Mi Perfil
                        </span>
                    </a>
                </li>
                {% if ctx_person.rol.type == 'administrador' %}
                <li class="nav-item">
                    <a href="{% url 'person_list' %}" class="nav-link">
                        <i class="nav-link-icon lnr-picture"></i>
                        <span>
                            Usuarios
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'course_list' %}" class="nav-link">
                        <i class="nav-link-icon lnr-file-empty"></i>
                        <span>
                            Fichas
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'generic_list' str_view='program' %}" class="nav-link">
                        <i class="nav-link-icon lnr-file-empty"></i>
                        <span>
                            Programas
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'generic_list' str_view='area' %}" class="nav-link">
                        <i class="nav-link-icon lnr-file-empty"></i>
                        <span>
                            Áreas
                        </span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>





    
{% endblock menu_icons %}
    