{% extends 'base.html' %}
{% block section %}
    <div class="page-title-icon">
        <i class="fa fa-file icon-gradient bg-happy-itmeo"></i>
    </div>
    <div>
        Detalle del Usuario
        <div class="page-title-subheading">
            Ver el detalle del usuario seleccionado
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title">Ver detalle del Ususario </h5>
                    <h6 class="card-subtitle">Registro del usuario registrado completo </h6>                
                    <table class="mb-0 table table-bordered">
                        <thead>
                            <tr>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Id</th>
                                <td><h6>{{ object.id }}</h6></td>
                            </tr>

                            <tr>
                                <th scope="row">Nombres y Apellidos</th>
                                <td><h6>{{ object.user.first_name }} {{ object.user.last_name }}</h6></td>
                            </tr>
                            <tr>
                                <th scope="row">Identificacion</th>
                                <td><h6>{{ object.document }}</h6></td>
                            </tr>
                            <tr>
                                <th scope="row">Correo</th>
                                <td><h6>{{ object.email }}</h6></td>
                            </tr>
                            <tr>
                                <th scope="row">Celular</th>
                                <td><h6>{{ object.phone }}</h6></td>
                            </tr>
                            <tr>
                                <th scope="row">Rol</th>
                                <td><h6>{{ object.rol }}</h6></td>
                            </tr>
                            <tr>
                                <th scope="row">Estado</th>
                                <td>
                                    <h6>

                                        {% if object.user.is_active %}
                                            <div class="mb-2 mr-2 badge badge-success">
                                                <i class="fa fa-user"> </i> 
                                                <i class="fa fa-check"> </i> 
                                            </div> 
                                            <a href="{% url 'person_status' id_person=object.id %}" class="mb-2 mr-2 badge badge-secondary">Inactivar</a>
                                            usuario activo, clic para inactivar
                                        {% else %}
                                            <div class="mb-2 mr-2 badge badge-secondary">
                                                <i class="fa fa-user-times"> </i>
                                            </div> 
                                            <a href="{% url 'person_status' id_person=object.id %}" class="mb-2 mr-2 badge badge-info">Activar</a>
                                            usuario inactivo, clic para activar
                                        {% endif %}

                                    </h6>
                                </td>
                            </tr>
                        </tbody>
                        
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h6>Foto:</h6>
                    
                    {% if object.photo %}
                        <img src="{{ object.photo.url }}" alt="" height="200px">               
                    {% else %}
                    <div class="alert alert-warning fade show" role="alert">
                        este usuario no dispone de evidencia fotografica, de clic  
                        <a href="{% url 'person_edit' id_person=object.id %}" class="alert-link">aqui</a> para editar este usuario.
                    </div>
                    {% endif %}
                        
                </div>
            </div>
        </div>
        <a class="btn btn-secondary" href="{% url 'person_list' %}">Regresar a la lista de usuarios</a>
    </div>
{% endblock content %}

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="mb-0">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>