{% extends 'base.html' %}
{% block section %}
<div class="page-title-icon">
    <i class="fa fa-edit icon-gradient bg-sunny-morning"></i>
</div>
<div>
    Editar Muestra <strong>{{ sample.id }}</strong>
    <div class="page-title-subheading">
        Edita todos los datos de muestra seleccionada
    </div>
</div>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6">
            <div class="main-card mb-3 card">
                {% if messages %}
                <div class="alert alert-success fade show" role="alert">
                    <h4 class="alert-heading">Well done!</h4>
                    <ul class="messages">
                        {% for message in messages %}
                            <li {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                        {% endfor %}
                    </ul>   
                    <hr>
                    <p class="mb-0">Si desea ver el elemento guardado presione.
                        <a href="{% url 'sample_detail' id_sample=sample.id %}">aqui</a>
                    </p>
                </div>
                {% endif %}

                <div class="card-body"><h5 class="card-title">Editar muestra No. <strong>{{ sample.id }}</strong> </h5>
                    {% load cloudinary %}    
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        {% for field in form %}
                        <div class="position-relative form-group">
                                {{field.errors}}
                                {{field.label}}
                                {{field}}
                            </div>
                        {% endfor %}
                        <hr>
                        <input type="submit" value="Guardar" class="mt-1 btn btn-primary">
                    </form>
                    </div>
                </div>
            </div>

            
    </div>

{% endblock %}
