{% extends 'base.html' %}
{% block section %}
<div class="page-title-icon">
    <i class="fa fa-plus-circle icon-gradient bg-sunny-morning"></i>
</div>
<div>
    Registro de Residuos
    <div class="page-title-subheading">
        Registra todos los datos para agregar nuevo Residuo
    </div>
</div>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="main-card mb-3 card">
                {% if messages %}
                <div class="alert alert-success fade show" role="alert">
                    <h4 class="alert-heading">Guardado !</h4>
                    <ul class="messages">
                        {% for message in messages %}
                            <li {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                        {% endfor %}
                    </ul>   
                    <hr>
                    <p class="mb-0">Si desea ver el elemento guardado presione.
                        <a href="{% url 'sample_detail' id_sample=sample.id %}">aqui</a>
                    </p>
                </div>
                {% endif %}


                <div class="card-body"><h5 class="card-title">Registrar nuevo Residuo</h5>
                    {% load cloudinary %}
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        {% for field in form %}
                            <div class="position-relative form-group">
                                {% if field.name != "photo" and  field.name != "document"   %}
                                    {{ field.errors }}    
                                    {{ field.label }}    
                                    {{ field }}
                                {% else %}
                                {% endif %}
                            </div>
                            
                            {% endfor %}
                            <label for="{{ form.photo.name }}" class="">Foto</label>
                            <input type="file" accept="image/*" name="{{ form.photo.name }}" id="{{ form.photo.id_for_label }}" class="form-control-file" capture="camera">
                            <small class="form-text text-muted">Selecciona una foto para adjuntar.</small>            
                            <hr>
                            <label for="{{ form.document.name }}" class="">Documento</label>
                            <input type="file" accept="image/*" name="{{ form.document.name }}" id="{{ form.document.id_for_label }}" class="form-control-file">
                            <small class="form-text text-muted">Selecciona un Documento para adjuntar.</small>            
                        <hr>
                        <input type="submit" value="Guardar" class="mt-1 btn btn-primary">
                        <a href="{% url 'sample_list' %}" class="mt-1 btn btn-secondary"> Cancelar </a>
                    </form>

                    </div>
                </div>
            </div>
   
            

    </div>

{% endblock %}

